@import "lato.css";
html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Lato', Verdana, sans-serif;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.portfolio {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  padding-bottom: 47px;
}

.portfolio__title {
  font-size: 3rem;
  letter-spacing: -0.02rem;
  font-weight: 900;
  margin: 0;
  padding-top: 60px;
  color: #666d89;
}

.portfolio__description {
  font-size: 1.8rem;
  letter-spacing: -0.022rem;
  line-height: 30px;
  color: #767e9e;
  margin-bottom: 0;
}

.portfolio__tags {
  margin: 10px 0 23px 1px;
}

.tag {
  box-sizing: border-box;
  font-size: 1.2rem;
  letter-spacing: -0.03rem;
  padding: 2px 6px 3px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #767e9e;
}

.tag_bordered {
  border: 1px solid #666d89;
}

.tag:hover {
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
}

.tag_selected {
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.layout-4-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-height: 621px;
  overflow: hidden;
}

.project {
  width: 222px;
  height: 189px;
  overflow: hidden;
  margin-bottom: 18px;
}

.project__image_1 {
  margin: -11px 0 0 -8px;
}

.project__image_2 {
  margin: -43px 0 0 -81px;
}

.project__image_3 {
  margin: -1px 0 0 -10px;
}

.project__image_4 {
  margin: -2px 0 0 -22px;
}

.project__image_5 {
  margin: -16px 0 0 -10px;
}

.project__image_6 {
  margin: -4px 0 0 -15px;
}

.project__image_7 {
  margin: -39px 0 0 -30px;
}

.project__image_8 {
  margin: -32px 0 0 -22px;
}

.project__image_9 {
  margin: -2px 0 0 -16px;
}

.project__image_10 {
  margin: -113px 0 0 -140px;
}

.project__image_11 {
  margin: -175px 0 0 -143px;
}

.project__image_12 {
  margin: -60px 0 0 -34px;
}

.about-us {
  padding-bottom: 43px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us__title {
  font-size: 3rem;
  letter-spacing: -0.02rem;
  font-weight: 900;
  margin: 0;
  padding-top: 59px;
  color: #666d89;
}

.about-us__description {
  font-size: 1.8rem;
  letter-spacing: -0.008rem;
  line-height: 3rem;
  font-weight: 300;
  margin: 0;
  padding-top: 18px;
  color: #767e9e;
}

.card {
  padding-top: 45px;
  width: 303px;
}

.card__title {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 900;
  margin: 0;
  padding: 11px 0;
  color: #666d89;
}

.card__description {
  font-size: 1.2rem;
  line-height: 2.2rem;
  letter-spacing: -0.0048rem;
  font-weight: 400;
  margin: 0;
  color: #767e9e;
}

.social-contacts {
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
  width: 155px;
}