@import './lato.css';
html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Lato', Verdana, sans-serif;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.contacts__wrapper {
  padding-top: 68px;
}

.contacts__title {
  font-size: 3rem;
  letter-spacing: -0.02rem;
  line-height: 1.8rem;
  font-weight: 900;
  margin: 0;
  color: #f0d8d9;
}

.contacts__description {
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.001rem;
  font-weight: 300;
  margin: 0;
  padding-top: 27px;
  color: #f0d8d9;
}

.contacts {
  background-color: #f06c64;
}

.contacts__context {
  display: flex;
  justify-content: space-between;
}

.contacts__form {
  max-width: 591px;
  padding-top: 44px;
  padding-bottom: 48px;
  border-bottom: 6px solid #ea676b;
}

.contacts__field {
  width: 100%;
  border: none;
  padding: 10px 14px 13px;
  border-radius: 5px;
  background-color: #d6564f;
  margin-bottom: 16px;
}

.contacts__field::placeholder {
  font-family: 'Lato';
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: #f48c8f;
}

.contacts__textarea {
  height: 182px;
  letter-spacing: 0.019em;
  padding: 7px 14px 13px;
}

.contact-information {
  max-width: 301px;
  color: #f0d8d9;
}

.contact-information__title {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 900;
  margin: 0;
  padding-top: 44px;
}

.contact-information__description {
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  margin: 0;
  padding-top: 11px;
}

.contact {
  display: inline-flex;
  align-items: center;
  margin: 0;
}

.contact__link {
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  width: 300px;
  margin-left: 9px;
  text-decoration: none;
  color: #f0d8d9;
}

.ico {
  display: inline-block;
  cursor: pointer;
}

.ico_location {
  background-image: url("../assets/images/information/location.svg");
  width: 7px;
  height: 11px;
}

.ico_phone {
  background-image: url("../assets/images/information/phone.svg");
  width: 11px;
  height: 11px;
}

.ico_mail {
  background-image: url("../assets/images/information/mail.svg");
  width: 13px;
  height: 8px;
}

.footer {
  background-color: #2d303a;
}

.social-contacts {
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
  width: 155px;
}

.footer__copyright {
  font-size: 1.2rem;
  font-weight: 400;
  color: #666d89;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}