@import "lato.css";
html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Lato', Verdana, sans-serif;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.header {
  box-sizing: border-box;
  height: 95px;
  background-color: #2d303a;
  border-bottom: 6px solid #323645;
}

.head-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.logo {
  text-decoration: none;
}

.logo__text {
  font-size: 2.5rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.logo__text_colored {
  color: #f06c64;
}

.header__navigation {
  padding-top: 10px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 371px;
}

.navigation__item {
  letter-spacing: -0.02rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;
}

.navigation__item:not(:first-child)::before {
  content: "\2219";
  display: inline-block;
  width: 1.5em;
  line-height: 1px;
  color: #494e62;
}

.navigation__link {
  text-decoration: none;
  color: #ffffff;
}

.navigation__link:hover {
  color: #dbdc7f;
}

.navigation__link_selected {
  color: #f06c64;
}

.promo {
  box-sizing: border-box;
  height: 600px;
  background-color: #ef6c64;
  border-bottom: 6px solid #ea666b;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 53px;
}

.slider__arrow {
  height: 100%;
  cursor: pointer;
}

.slider__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__image-2 {
  height: 240px;
  margin-left: 74px;
}

.services {
  box-sizing: border-box;
  height: 500px;
  background-color: #f1f1f1;
  border-bottom: 6px solid #ffffff;
}

.services__title {
  margin: 0;
  padding-top: 59px;
  font-size: 3rem;
  letter-spacing: -0.02rem;
  font-weight: 900;
  color: #666d89;
}

.services__description {
  margin-bottom: 43px;
  font-size: 1.8rem;
  letter-spacing: -0.008rem;
  line-height: 30px;
  color: #767e9e;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service {
  display: flex;
  justify-content: space-between;
  width: 299px;
  margin-bottom: 27px;
}

.service__icon {
  width: 59px;
  height: 59px;
  padding-top: 4px;
}

.service__content {
  width: 220px;
}

.service__name {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 900;
  color: #666d89;
}

.service__description {
  margin: 8px 0 0;
  height: 66px;
  font-size: 1.2rem;
  letter-spacing: 0.0562rem;
  line-height: 22px;
  overflow: hidden;
  color: #767e9e;
}